@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  top: 80px;
  width: 100vw;
  z-index: 1;
  display: none;
}

@media (max-width: 820px) {
  header {
    top: 0;
  }
}

header nav {
  margin: 0 auto;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 820px) {
  header nav {
    visibility: hidden;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  list-style: none;
  margin-left: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  position: relative;
}

header nav ul li a:hover {
  opacity: 0.5;
}

header nav ul li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #f6bf2b;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

header nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .menu {
  z-index: 2;
  top: 20px;
  right: 20px;
  position: fixed;
  display: none;
}

@media (max-width: 820px) {
  header .menu {
    display: block;
  }
}

header .menu input {
  display: block;
  width: 33px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

header .menu input:checked ~ .menu-container {
  opacity: 100;
  -webkit-transform: none;
          transform: none;
}

header .menu input:checked ~ span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

header .menu input:checked ~ span:nth-child(3) {
  display: none;
}

header .menu input:checked ~ span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 5px;
}

header .menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #f6bf2b;
  border-radius: 5px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu .menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 160px 40px;
  background: #1d3c6e;
  list-style: none;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .menu .menu-container li {
  padding: 10px 0;
}

header .menu .menu-container a {
  text-decoration: none;
  text-align: left;
  color: #ebebeb;
  font-size: 3em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  font-weight: 900;
}

header .menu .menu-container a:hover {
  color: transparent;
  -webkit-text-stroke: 1px #ebebeb;
}

#welcome {
  background-color: #1d3c6e;
  width: 100vw;
  height: 100vh;
}

#welcome .saudation {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

#welcome .saudation .braces {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 115px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#welcome .saudation .braces img:last-child {
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#welcome .saudation #star {
  -webkit-animation: rotation 4s infinite linear;
          animation: rotation 4s infinite linear;
  width: 40px;
}

#welcome .saudation h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 900;
  font-size: 6em;
  color: #fff;
  display: none;
}

#welcome #arrow {
  display: none;
  padding: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 95%;
}

#intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#intro .intro-img {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 60, 110, 0.5)), to(rgba(29, 60, 110, 0.5))), url(../assets/homeimg.png);
  background-image: linear-gradient(rgba(29, 60, 110, 0.5), rgba(29, 60, 110, 0.5)), url(../assets/homeimg.png);
  background-size: cover;
  width: 50%;
  height: 100%;
}

@media (max-width: 820px) {
  #intro .intro-img {
    display: none;
  }
}

#intro .intro-container {
  background-color: #1d3c6e;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 820px) {
  #intro .intro-container {
    width: 100%;
  }
}

#intro .intro-container .intro-content {
  padding: 80px;
  overflow: hidden;
}

@media (max-width: 820px) {
  #intro .intro-container .intro-content {
    padding: 40px;
  }
}

#intro .intro-container .intro-content h1 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 900;
  font-size: 4em;
  line-height: 100%;
  color: #fff;
}

#intro .intro-container .intro-content h1 #nest {
  color: #f6bf2b;
}

#intro .intro-container .intro-content p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 150%;
  font-weight: 300;
  color: #fff;
  width: 75%;
  margin-top: 20px;
}

#intro .intro-container img {
  position: absolute;
  bottom: 80px;
  right: 80px;
  width: 25px;
  height: 25px;
  -webkit-animation: rotation 4s infinite linear;
          animation: rotation 4s infinite linear;
  width: 40px;
}

@media (max-width: 820px) {
  #intro .intro-container img {
    bottom: 40px;
    right: 40px;
  }
}

#about {
  background-color: #1d3c6e;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 820px) {
  #about {
    display: block;
    padding-top: 20vh;
  }
}

#about .about-gallery {
  width: 50%;
  position: relative;
  background-color: rgba(16, 16, 16, 0.5);
}

@media (max-width: 820px) {
  #about .about-gallery {
    width: 100%;
    margin: 0 auto;
  }
}

#about .about-gallery img {
  width: 42.5%;
  -webkit-filter: drop-shadow(-4px 4px 15px rgba(16, 16, 16, 0.5));
          filter: drop-shadow(-4px 4px 15px rgba(16, 16, 16, 0.5));
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about .about-gallery img:nth-child(1) {
  margin-top: -10%;
  margin-left: -20%;
}

#about .about-gallery img:nth-child(2) {
  margin-left: 22.5%;
}

#about .about-gallery img:nth-child(3) {
  margin-top: 20%;
}

#about .about-info {
  width: 50%;
}

@media (max-width: 820px) {
  #about .about-info {
    width: 100%;
    padding-top: 30vh;
  }
}

#about .about-info .about-info-content {
  margin: 0 80px;
  color: #fff;
}

@media (max-width: 820px) {
  #about .about-info .about-info-content {
    margin: 0 40px;
  }
}

#about .about-info .about-info-content .about-title h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  font-size: 1em;
  letter-spacing: 0.21em;
  font-weight: 100;
}

#about .about-info .about-info-content .about-title h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  line-height: 100%;
}

#about .about-info .about-info-content p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 150%;
}

#about .about-info .about-info-content .line {
  width: 40%;
  height: 3px;
  background-color: #f6bf2b;
  float: right;
  margin-top: 80px;
}

#work {
  background-color: #1d3c6e;
  padding: 80px 0 160px 0;
}

#work .work-content {
  color: #fff;
  margin: 0 80px;
  position: relative;
}

@media (max-width: 820px) {
  #work .work-content {
    margin: 0 40px;
  }
}

#work .work-content .work-title h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  font-size: 1em;
  letter-spacing: 0.21em;
  font-weight: 100;
}

#work .work-content .work-title h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  line-height: 100%;
}

#work .work-content .work-tasks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 50px 0;
}

@media (max-width: 820px) {
  #work .work-content .work-tasks {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#work .work-content .work-tasks .task {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 820px) {
  #work .work-content .work-tasks .task {
    width: 100%;
  }
}

#work .work-content .work-tasks .task img {
  width: 20px;
  height: 20px;
}

#work .work-content .work-tasks .task .task-info {
  margin-left: 15px;
}

#work .work-content .work-tasks .task .task-info h4 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  font-size: 1em;
  text-transform: uppercase;
}

#work .work-content .work-tasks .task .task-info p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 150%;
}

#companies .companies-content {
  margin: 160px 80px;
}

@media (max-width: 820px) {
  #companies .companies-content {
    margin: 80px 40px;
  }
}

#companies .companies-content .companies-title {
  color: #1d3c6e;
}

#companies .companies-content .companies-title h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  font-size: 1em;
  letter-spacing: 0.21em;
  font-weight: 100;
}

#companies .companies-content .companies-title h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  line-height: 100%;
}

#companies .companies-content .logos-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 80px 80px 0 80px;
  gap: 40px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

@media (max-width: 820px) {
  #companies .companies-content .logos-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}

#companies .companies-content .logos-container img {
  width: 125px;
  max-height: 150px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.75;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#companies .companies-content .logos-container img:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

#events .brake {
  margin: 160px 80px 80px 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 820px) {
  #events .brake {
    margin: 80px 40px;
  }
}

#events .brake img {
  margin: 0 80px;
}

#events .brake img:last-child {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media (max-width: 820px) {
  #events .brake img {
    height: 50px;
  }
}

#events .events-content {
  margin: 0 80px 160px 80px;
}

@media (max-width: 820px) {
  #events .events-content {
    margin: 0 40px 160px;
  }
}

#events .events-content .events-title {
  color: #1d3c6e;
  text-align: right;
}

#events .events-content .events-title h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  font-size: 1em;
  letter-spacing: 0.21em;
  font-weight: 100;
}

#events .events-content .events-title h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  line-height: 100%;
}

#events .events-content .events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

#events .events-content .events-container::-webkit-scrollbar {
  height: 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

#events .events-content .events-container::-webkit-scrollbar-track-piece {
  background: #f1f1f1;
  text-align: center;
}

#events .events-content .events-container::-webkit-scrollbar-thumb {
  background: #1d3c6e;
}

#events .events-content .events-container::-webkit-scrollbar-button:end:increment {
  width: 10%;
  display: block;
  background: transparent;
}

#events .events-content .events-container::-webkit-scrollbar-button:start:increment {
  width: 10%;
  display: block;
  background: transparent;
}

#events .events-content .events-container .event {
  background: #1d3c6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  margin-right: 25px;
}

@media (max-width: 820px) {
  #events .events-content .events-container .event {
    display: block;
    height: 400px;
  }
}

#events .events-content .events-container .event .event-img {
  width: 250px;
}

@media (max-width: 820px) {
  #events .events-content .events-container .event .event-img {
    width: 100%;
    height: 50%;
  }
}

#events .events-content .events-container .event .event-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#events .events-content .events-container .event .event-info {
  width: 250px;
  padding: 20px;
  color: #fff;
  position: relative;
}

#events .events-content .events-container .event .event-info h1 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  font-weight: 900;
}

#events .events-content .events-container .event .event-info h3 {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  line-height: 150%;
  font-size: 1em;
}

#events .events-content .events-container .event .event-info p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 150%;
}

#events .events-content .events-container .event .event-info img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: 20px;
  cursor: pointer;
}

#events .events-content .events-container .event .event-info img:hover {
  -webkit-animation: rotation 4s infinite linear;
          animation: rotation 4s infinite linear;
}

@media (max-width: 820px) {
  #events .events-content .events-container .event .event-info img {
    top: 20px;
  }
}

footer {
  background: #1d3c6e;
  padding: 40px 80px 80px 80px;
}

footer .footer-top {
  position: relative;
  padding: 80px;
  border-bottom: 3px solid #fff;
}

footer .footer-top .footer-braces {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 820px) {
  footer .footer-top .footer-braces {
    width: 250px;
    height: 50px;
  }
}

footer .footer-top .footer-braces img:last-child {
  right: 0;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

footer .footer-top h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 900;
  font-size: 4em;
  color: #fff;
}

@media (max-width: 820px) {
  footer .footer-top h1 {
    font-size: 3em;
  }
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

@media (max-width: 820px) {
  footer .footer-bottom {
    display: block;
    text-align: center;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    padding: 20px 0;
  }
  footer .footer-bottom > * {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    margin: 20px 0;
  }
}

footer .footer-bottom p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-size: 1em;
  line-height: 150%;
  color: #fff;
  font-weight: 300;
}

footer .footer-bottom .social img {
  width: 35px;
  height: 35px;
}
/*# sourceMappingURL=style.css.map */